@charset "UTF-8";
/* CSS Document */
:root {
  --color1: #31434c;
  --color2: #5e626b;
  --color3: #958892;
  --color4: #baaeb5;
  --color5: #dedbdd;
  --headerheight: 4rem;
  --headingoverlap: 0.5rem;
}


:target {
  display: block;
  position: relative;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 0px;
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
body {
  background-color: var(--color1);
  margin: 0;
  color: var(--color4);
  font-family: "Unica One";
  font-size: 12px; /* the base font-size */
  height: 100%;
  letter-spacing: 0.1rem;

}
@media(min-width:800px){
	:root{
		--headerheight: 5.4rem;
		--headingoverlap: 1.8rem;
	}
	body{font-size: 16px;}
}
a {
  color: var(--color4);
  text-decoration: none;
}
a:hover {
  color: var(--color2);
}

@keyframes fadeInSection {
  0% {
    opacity: 1;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}


@keyframes fadeInLogo {
  0% {
    letter-spacing: 0.6rem;
    filter: blur(10px);
  }
  100% {
    letter-spacing: 0.3rem;

    filter: blur(0px);
  }
}

@keyframes fadeInMenu {
 0% {
  opacity: 0;
  filter: blur(10px);
}
50% {
 opacity: 0;
 filter: blur(0px);
 transform: translateY(-100%);;
 overflow: hidden;
}
100% {
  opacity: 1;
  filter: blur(0px)
  transform: translateY(0%);
}
}
@keyframes fadeInLUTMenu {
 0% {
  opacity: 0;
  filter: blur(10px);
}
66% {
 opacity: 0;
 transform: translateY(-100%);;
 overflow: hidden;
}
100% {
  opacity: 1;
  transform: translateY(0%);
}
}

html{
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-padding: 0px;
}

.section, .section--header-spacer1{
  display: flex;
  scroll-snap-align: start; /* latest (Chrome 69+) */  
  scroll-snap-coordinate: 0% 0%; /* older (Firefox/IE) */  
  -webkit-scroll-snap-coordinate: 0% 0%; /* older (Safari) */  

  scroll-padding: 0px;

}
/* nav bar
--------------------------------------------- */
.nav {
  animation: 2s fadeInMenu 1; */ 
}
.nav a {
  display: inline;
  padding: 0 5px;
  margin: 0px;
  transition: 0.2s;
}
.nav a:hover {
  background-color: var(--color4);
}
.active {
  background-color: var(--color2);
}
.contact {
  border: 1px solid var(--color4);
}
.nav2 {
  display: block;
  float: right;
  position: absolute;
  top: 0;
  right:0;
  padding: 5px 10px;
  margin: 0px;
  color: var(--color3);
  font-size: 75%;
  background-color: var(--color2);
}
.nav2 a {
  display: inline;
  padding: 0 5px;
  margin: 0px;
  transition: 0.2s;
   color: var(--color4);
}
.nav2 a:hover {
  background-color: var(--color1);
}
.nav2 {
  animation: 3s fadeInLUTMenu 1; */ 
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
}
.content {
  display: block;
  flex-direction: column;
  will-change: transform;
}
.logo a:hover {
  stroke: var(--color2);
  transition: 0.2s;
}
header {
  display: flex;
  flex-direction: column;
  padding: 0;
  min-height: calc(var(--headerheight));
  min-width: 100%;
  position: -webkit-sticky; /* Safari & IE */
  position: sticky;
  top: 0px; /* ➜ the trick */
  text-align: center;
  background-color: var(--color1);
  vertical-align: middle;
  align-items: center;
  letter-spacing: 0.1rem;

}
.section--header-spacer1 {
  display: block;
  padding: 0px;
  min-width: 100%;
  min-height: 25vh;
  background-color: var(--color1);
}
.section--header-spacer2 {
  display: block;
  padding: 0px;
  min-width: 100%;
  min-height: 25vh;
  background-color: var(--color1);
}
.logo a {
  font-size: 300%;
  transition: 0.2s;
  padding: 0 15px;
  /* animation: 2s fadeInLogo 1;
  -webkit-animation: 2s fadeInLogo 1;
  -moz-animation: 2s fadeInLogo 1;
  -o-animation: 2s fadeInLogo 1; */ 
  letter-spacing: 0.3rem;
}
.section {
  display: block;
  min-width: 100%;
  font-size: 300%;
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  padding-bottom: 20px;	
  scroll-snap-align: start;
  opacity: 0;
  animation: 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s fadeInSection forwards;
}

.section-1 {
  background-color: var(--color2);
  color: var(--color1);
  top: calc(var(--headerheight) + calc(var(--headingoverlap) * 0) ); /* ➜ the trick */

  margin-bottom: 0px;
  scroll-margin: calc(var(--headerheight) + calc(var(--headingoverlap) * 0));
  animation-delay: 1s;

}
.section-2 {
  background-color: var(--color3);
  color: var(--color2);
  top: calc(var(--headerheight) + calc(var(--headingoverlap) * 1) ); /* ➜ the trick */
  margin-bottom: 0px;
  scroll-margin: calc(var(--headerheight) + calc(var(--headingoverlap) * 1));
  animation-delay: 1.25s;
}
.section-3 {
  background-color: var(--color4);
  color: var(--color3);
  top: calc(var(--headerheight) + calc(var(--headingoverlap) * 2)); /* ➜ the trick */
  margin-bottom: 0px;
  scroll-margin: calc(var(--headerheight) + calc(var(--headingoverlap) * 2));
  animation-delay: 1.5s;
}
.section-4 {
  min-height: calc(calc(calc(100vh - var(--headerheight)) - 70px) - calc(3 * var(--headingoverlap)));
  background-color: var(--color5);
  color: var(--color4);
  top: calc(var(--headerheight) + calc(var(--headingoverlap) * 3)); /* ➜ the trick */
  margin-bottom: 0px;
  scroll-margin: calc(var(--headerheight) + calc(var(--headingoverlap) * 3));
  animation-delay: 1.75s;
}
footer {
  display: block;
  min-height: 50px;
  min-width: 100%;
  background-color: var(--color5);
  color: var(--color2);
  position: relative;
  text-align: center;
  font-size: 80%;
}
.scrolling-wrapper-flexbox {
  display: flex;  
  align-items: stretch;  
  width: 100%;  
  overflow: auto;  

  scroll-snap-type: x mandatory; /* Chrome Canary */  
  scroll-snap-type: mandatory; /* Firefox */  
  -ms-scroll-snap-type: mandatory; /* IE/Edge */  
  -webkit-scroll-snap-type: mandatory; /* Safari */  
  -webkit-scroll-snap-destination: 0% 0%;  
  -webkit-overflow-scrolling: touch; /* important for iOS */  
}

.scrolling-wrapper-flexbox::-webkit-scrollbar {
  display: none;
}

.card {
  margin-right: 10px;
  min-width: 66%;
  height: 60vh;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 700%;
  letter-spacing: 0.05em;
  font-family: helvetica, arial, sans-serif;
  color: rgba(255,255,255, 0.1);
  padding: 10px;
  text-align: center;

  flex-shrink: 0;  

  scroll-snap-align: start; /* latest (Chrome 69+) */  
  scroll-snap-coordinate: 0% 0%; /* older (Firefox/IE) */  
  -webkit-scroll-snap-coordinate: 0% 0%; /* older (Safari) */  
}
.anchor-1{
	position: relative;
	top: calc(var(--headingoverlap) * 0) ;
}
.anchor-2 {
	position: relative;
	top: calc(var(--headingoverlap) * -1) ;
}
.anchor-3 {
	position: relative;
	top: calc(var(--headingoverlap) * -2) ;
}
.anchor-4 {
	position: relative;
	top: calc(var(--headingoverlap) * -3) ;
}
.section-title {
	text-indent: 5px;
}
.section-title:hover {
  transition: 0.2s;
  background-color: rgba(255, 255, 255, 0.1);
}
.title-1{
	color: var(--color3);
}
.title-2{
	color: var(--color4);
}
.title-3{
	color: var(--color5);
}
.title-4{
	color: var(--color4);
}

.anim, .anim svg {
  position: relative;
  height: 3em;
}
.anim g {
  fill: none;
  stroke-width: 4;
  stroke: var(--color4);
}

.anim g:hover {
  stroke: var(--color3);
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: var(--color4);
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 20px;
}
